* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#inner-container {
    max-width: 1000px;
    max-height: 1000px;
    margin: auto;
    padding: 100px;
    background-color: coral;
}
